<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Ultimo Real Estate with Express</title>
  <!-- This icon does not work in the localhost -->
  <link rel = "icon" href = "/favicon.ico"/>
  <meta name="author" content="Shoko Yanagibashi Shoko.Yanagibashi@studytafensw.edu.au">
  <link rel="stylesheet" href="sub-style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- text for main page and section  -->
  <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Caveat" rel="stylesheet">
</head>

<body>
 
  <header>
    <div>
      <a href="index.html"><img  src="./images/estate-logo.svg" width="300" height="100" alt="Ultimo Real Estate, Sydney, Australia" style = "margin-top: 10px;"></a>
    </div>
    <nav>
      <ul>
        <li><a href="/index.html">Home</a></li>
        <li><a href="/property">Property of the Week</a></li>
        <li><a href="/agents" >Agents</a></li>
        <li><a href="/faq.html" >FAQ</a></li>
        <li><a href="/contact.html">Contact</a></li>
        <li><a href= "login" id = "current">Login</a></li>
      </ul>
    </nav>
  </header>


  <main>
    <div id = 'success'> 
      <h4>Successfully Loged In</h4>
      <h4>Welcome <%= name %></h4>
    </div>
  </main>


  <footer>
    <ul>
      <li>&copy; 2020 Ultimo Real Estate, Inc. Shoko.</li>
      <li><a href="www.facebook.com/UltimoRealEstate"><img src="images/facebook.png" width="30" height="30" alt="Ultimo Real Estate on Facebook"></a></li>
      <li><a href="www.instagram.com/UltimoRealEstate"><img src="images/instagram.png" width="30" height="30" alt="Ultimo Real Estate on Instagram"></a></li>
      <li><a href="www.twitter.com/UltimoRealEstate"><img src="images/twitter.png" width="30" height="30" alt="Ultimo Real Estate on Twitter"></a></li>
      <li><a href="legals.html">Legals</a></li>
    </ul>
  </footer>
  
  
</body>
</html> 
  